## Quandl data

In [1]:
!pip install quandl
import quandl
import pandas as pd
quandl.ApiConfig.api_key = "YOUR-KEY-HERE"

Requirement already satisfied: quandl in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (3.7.0)
Requirement already satisfied: inflection>=0.3.1 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: more-itertools in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (9.0.0)
Requirement already satisfied: requests>=2.7.0 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (2.28.1)
Requirement already satisfied: python-dateutil in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (2.8.2)
Requirement already satisfied: numpy>=1.8 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (1.23.1)
Requirement already satisfied: six in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (1.16.0)
Requirement already satisfied: pandas>=0.14 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from quandl) (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.14->quandl) (2022.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.7.0->quandl) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.7.0->quandl) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.7.0->quandl) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kpc2\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.7.0->quandl) (2.1.0)

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

We can pull data directly from quandl using the `quandl.get_table()`

In [2]:
# Pull the indicators file 
# (indicators are the column names for all the datasets)
df = quandl.get_table('SHARADAR/INDICATORS')
df[df.table=='SF2']

,table,indicator,isfilter,isprimarykey,title,description,unittype
None,,,,,,,
109,SF2,transactionvalue,Y,N,Transaction Value,The value of the transaction.,USD
110,SF2,transactionshares,N,N,Transaction Shares,The number of shares transacted.,units
111,SF2,transactionpricepershare,N,N,Transaction Price per Share,The transaction price per share.,USD/share
112,SF2,transactiondate,N,N,Transaction Date,If there has been a transaction; the date of t...,date (YYYY-MM-DD)
113,SF2,transactioncode,N,N,Transaction Code,The available [Transaction Codes] [Transaction...,text
114,SF2,ticker,Y,Y,Ticker Symbol,The ticker is a unique identifier for a securi...,text
115,SF2,sharesownedfollowingtransaction,N,N,Shares Owned Following Transaction,The number of shares owned following the trans...,units
116,SF2,sharesownedbeforetransaction,N,N,Shares Owned Before Transaction,The number of shares owned before the transact...,units
117,SF2,securitytitle,N,N,Security Title,The title of the class of security.,text
118,SF2,securityadcode,Y,N,Security Acquired/Disposed Code,[D] Derivative; No Transaction [DA] Derivative...,text
119,SF2,rownum,N,Y,Row Number,The record number for a particular owner and f...,numeric
120,SF2,priceexercisable,N,N,Price Exercisable,The price at which an option is exercisable; w...,USD
121,SF2,ownername,Y,Y,Owner Name (Insider / Investor),The name of the owner.,text
122,SF2,officertitle,N,N,Officer Title,Is the owner is an officer of the company the ...,text
123,SF2,natureofownership,N,N,Nature of Ownership,Where the ownership is held through an investm...,text
124,SF2,istenpercentowner,N,N,Is Ten Percent Owner?,Does the owner hold ten percent or more of the...,Y/N
125,SF2,issuername,N,N,Issuer Name,The name of the security issuer.,text
126,SF2,isofficer,N,N,Is Officer?,Is the owner an officer of the company? [Y]es ...,Y/N
127,SF2,isdirector,N,N,Is Director?,Is the owner a Board Director? [Y]es or [N]o.,Y/N
128,SF2,formtype,N,Y,Form Type,The type of SEC form . Available options are 3...,text
129,SF2,filingdate,Y,Y,Filing Date,The date the form was filed with the SEC.,date (YYYY-MM-DD)
130,SF2,expirationdate,N,N,Expiration Date,The data at which an option expires; where app...,date (YYYY-MM-DD)
131,SF2,directorindirect,N,N,Direct or Indirect?,Is the ownership held [D]irectly or [I]ndirectly?,text
132,SF2,dateexercisable,N,N,Date Exercisable,The date that an option is exercisable; where ...,date (YYYY-MM-DD)

In [3]:
# Pull insider trades for Apple
df = quandl.get_table('SHARADAR/SF2', ticker='AAPL')
df.sort_values('filingdate')

,ticker,filingdate,formtype,issuername,ownername,officertitle,isdirector,isofficer,istenpercentowner,transactiondate,...,sharesownedfollowingtransaction,transactionpricepershare,transactionvalue,securitytitle,directorindirect,natureofownership,dateexercisable,priceexercisable,expirationdate,rownum
None,,,,,,,,,,,,,,,,,,,,,
1971,AAPL,2008-01-08,3,APPLE INC,JUNG ANDREA,None,Y,N,N,NaT,...,77.0,NaN,NaN,Common Stock,D,None,NaT,NaN,NaT,1
1970,AAPL,2008-01-08,4,APPLE INC,JUNG ANDREA,None,Y,N,N,2008-01-04,...,30000.0,180.05,5401500.0,Director Stock Options,D,None,NaT,180.05,2018-01-04,1
1131,AAPL,2008-01-11,3,APPLE INC,RAFAEL BETSY,VP Controller and PAO,N,Y,N,NaT,...,50000.0,NaN,NaN,Restricted Stock Units,D,None,NaT,NaN,NaT,1
2198,AAPL,2008-01-14,3,APPLE INC,FORSTALL SCOTT J,Vice President,N,Y,N,NaT,...,50000.0,NaN,NaN,Restricted Stock Units,D,None,NaT,NaN,NaT,7
2204,AAPL,2008-01-14,3,APPLE INC,FORSTALL SCOTT J,Vice President,N,Y,N,NaT,...,12.0,NaN,NaN,Common Stock,D,None,NaT,NaN,NaT,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,AAPL,2022-11-01,4,APPLE INC,MAESTRI LUCA,Senior Vice President CFO,N,Y,N,2022-10-28,...,110673.0,157.20,1131840.0,Common Stock,D,None,NaT,NaN,NaT,4
1403,AAPL,2022-11-01,4,APPLE INC,MAESTRI LUCA,Senior Vice President CFO,N,Y,N,2022-10-28,...,187551.0,155.63,13251428.0,Common Stock,D,None,NaT,NaN,NaT,2
1404,AAPL,2022-11-01,4,APPLE INC,MAESTRI LUCA,Senior Vice President CFO,N,Y,N,2022-10-28,...,272698.0,154.70,2208188.0,Common Stock,D,None,NaT,NaN,NaT,1
1402,AAPL,2022-11-01,4,APPLE INC,MAESTRI LUCA,Senior Vice President CFO,N,Y,N,2022-10-28,...,117873.0,156.46,10901820.0,Common Stock,D,None,NaT,NaN,NaT,3
1777,AAPL,2022-11-23,4,APPLE INC,KONDO CHRIS,Principal Accounting Officer,N,Y,N,2022-11-22,...,31505.0,148.72,3004144.0,Common Stock,D,None,NaT,NaN,NaT,1

In [4]:
# Pull prices for Apple
df = quandl.get_table('SHARADAR/SEP', ticker='AAPL')
df.sort_values('date')

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
6301,AAPL,1997-12-31,0.117,0.122,0.116,0.117,4.063584e+08,0.100,13.13,2022-12-27
6300,AAPL,1998-01-02,0.122,0.145,0.120,0.145,7.181104e+08,0.123,16.25,2022-12-27
6299,AAPL,1998-01-05,0.147,0.148,0.136,0.142,6.518736e+08,0.121,15.88,2022-12-27
6298,AAPL,1998-01-06,0.142,0.178,0.132,0.169,1.812474e+09,0.144,18.94,2022-12-27
6297,AAPL,1998-01-07,0.168,0.170,0.154,0.156,1.041622e+09,0.133,17.50,2022-12-27
...,...,...,...,...,...,...,...,...,...,...
4,AAPL,2023-01-10,130.260,131.264,128.120,130.730,6.342765e+07,130.730,130.73,2023-01-10
3,AAPL,2023-01-11,131.250,133.510,130.460,133.490,6.911440e+07,133.490,133.49,2023-01-11
2,AAPL,2023-01-12,133.880,134.260,131.440,133.410,7.124770e+07,133.410,133.41,2023-01-12
1,AAPL,2023-01-13,132.030,134.920,131.660,134.760,5.761859e+07,134.760,134.76,2023-01-13
0,AAPL,2023-01-17,134.830,137.290,134.130,135.940,6.341318e+07,135.940,135.94,2023-01-17

In [5]:
# Multiple tickers
df = quandl.get_table('SHARADAR/SF2', ticker=['IBM','AAPL'], paginate=True)
df

,ticker,filingdate,formtype,issuername,ownername,officertitle,isdirector,isofficer,istenpercentowner,transactiondate,...,sharesownedfollowingtransaction,transactionpricepershare,transactionvalue,securitytitle,directorindirect,natureofownership,dateexercisable,priceexercisable,expirationdate,rownum
None,,,,,,,,,,,,,,,,,,,,,
0,IBM,2023-01-03,4,INTERNATIONAL BUSINESS MA,ZOLLAR ALFRED W,None,Y,N,N,2022-12-31,...,2973.0,NaN,NaN,Promised Fee Share,D,None,NaT,0.0,NaT,1
1,IBM,2022-10-03,4,INTERNATIONAL BUSINESS MA,ZOLLAR ALFRED W,None,Y,N,N,2022-09-30,...,2370.0,NaN,NaN,Promised Fee Share,D,None,NaT,0.0,NaT,1
2,IBM,2022-07-01,4,INTERNATIONAL BUSINESS MA,ZOLLAR ALFRED W,None,Y,N,N,2022-06-30,...,1666.0,NaN,NaN,Promised Fee Share,D,None,NaT,0.0,NaT,1
3,IBM,2022-04-01,4,INTERNATIONAL BUSINESS MA,ZOLLAR ALFRED W,None,Y,N,N,2022-03-31,...,1077.0,NaN,NaN,Promised Fee Share,D,None,NaT,0.0,NaT,1
4,IBM,2022-01-04,4,INTERNATIONAL BUSINESS MA,ZOLLAR ALFRED W,None,Y,N,N,2021-12-31,...,446.0,NaN,NaN,Promised Fee Share,D,None,NaT,0.0,NaT,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,AAPL,2018-05-15,4,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,N,Y,N,2018-05-13,...,8015.0,188.59,1198678.0,Common Stock,D,None,NaT,NaN,NaT,2
12770,AAPL,2018-05-15,4,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,N,Y,N,2018-05-13,...,14371.0,NaN,NaN,Common Stock,D,None,NaT,NaN,NaT,1
12771,AAPL,2017-11-15,4,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,N,Y,N,2017-11-13,...,57482.0,NaN,NaN,Restricted Stock Unit,D,None,NaT,NaN,NaT,2
12772,AAPL,2017-11-15,4,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,N,Y,N,2017-11-13,...,57482.0,NaN,NaN,Restricted Stock Unit,D,None,NaT,NaN,NaT,1
12773,AAPL,2017-11-15,3,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,N,Y,N,NaT,...,NaN,NaN,NaN,Common Stock,D,None,NaT,NaN,NaT,1

### Subsetting on dates

- gte: greater than or equal
- gt:  greater than or equal
- lte: less than or equal
- lt:  less than

In [6]:
# As of a date
df = quandl.get_table('SHARADAR/SF1', calendardate='2015-12-31', ticker='AAPL')
df

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2022-10-28,-345000000,290345000000,2.716460e+11,89378000000,...,22810888000,23013684000,23172276000,10.155,281336000000,0,19121000000,0,12.225,8768000000
1,AAPL,MRT,2015-12-31,2015-12-26,2015-12-26,2022-10-28,-1480000000,293284000000,2.794935e+11,76219000000,...,22301324000,22235720000,22376508000,10.568,284158000000,0,18941000000,0,12.779,127000000
2,AAPL,MRQ,2015-12-31,2015-12-26,2015-12-26,2022-10-28,-1480000000,293284000000,NaN,76219000000,...,22301324000,22235720000,22376508000,3.412,284158000000,0,6212000000,0,12.779,127000000
3,AAPL,ARY,2015-12-31,2015-10-28,2015-09-26,2022-10-28,-345000000,290479000000,2.716795e+11,89378000000,...,22301324000,23013684000,23172276000,10.155,281470000000,5546000000,19121000000,0,12.231,8768000000
4,AAPL,ART,2015-12-31,2016-01-27,2015-12-26,2022-10-28,-1480000000,293284000000,2.795270e+11,76219000000,...,22178332000,22235720000,22376508000,10.568,284158000000,0,18941000000,0,12.779,127000000
5,AAPL,ARQ,2015-12-31,2016-01-27,2015-12-26,2022-10-28,-1480000000,293284000000,NaN,76219000000,...,22178332000,22235720000,22376508000,3.412,284158000000,0,6212000000,0,12.779,127000000

In [7]:
# Since a date
df = quandl.get_table('SHARADAR/SF1', calendardate={'gte': '2015-12-31'}, ticker='AAPL')
df

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2022-12-31,2022-09-24,2022-09-24,2022-10-28,-11109000000,352755000000,3.552292e+11,135405000000,...,16070752000,16215963000,16325819000,24.317,352755000000,0,19300000000,0,21.754,-18577000000
1,AAPL,MRY,2021-12-31,2021-09-25,2021-09-25,2022-10-28,163000000,351002000000,3.430135e+11,134836000000,...,16530166000,16701272000,16864919000,21.904,351002000000,0,14527000000,0,21.016,9355000000
2,AAPL,MRY,2020-12-31,2020-09-26,2020-09-26,2022-10-28,-406000000,323888000000,3.255625e+11,143713000000,...,17102536000,17352119000,17528214000,15.820,323888000000,0,9680000000,0,18.666,38321000000
3,AAPL,MRY,2019-12-31,2019-09-28,2019-09-28,2022-10-28,-584000000,338516000000,3.441180e+11,162819000000,...,18076720000,18471336000,18595651000,14.085,338516000000,0,10481000000,0,18.327,57101000000
4,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2022-10-28,-3454000000,365725000000,3.723045e+11,131339000000,...,19319704000,19821510000,20000435000,13.399,365725000000,0,13372000000,0,18.451,15410000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,AAPL,ARQ,2016-12-31,2017-02-01,2016-12-31,2022-10-28,245000000,331141000000,NaN,103332000000,...,20986160000,21194644000,21311980000,3.697,322870000000,0,6289000000,0,15.234,19202000000
124,AAPL,ARQ,2016-09-30,2016-10-26,2016-09-24,2022-10-28,634000000,321686000000,NaN,106869000000,...,21329252000,21467648000,21573324000,2.182,313066000000,0,3174000000,0,14.583,27863000000
125,AAPL,ARQ,2016-06-30,2016-07-27,2016-06-25,2022-10-28,-107000000,305602000000,NaN,93761000000,...,21553772000,21772232000,21891124000,1.946,296835000000,0,2673000000,0,13.634,22275000000
126,AAPL,ARQ,2016-03-31,2016-04-27,2016-03-26,2022-10-28,-1048000000,305277000000,NaN,87592000000,...,21909700000,22057524000,22163544000,2.292,296185000000,0,3626000000,0,13.428,19327000000
127,AAPL,ARQ,2015-12-31,2016-01-27,2015-12-26,2022-10-28,-1480000000,293284000000,NaN,76219000000,...,22178332000,22235720000,22376508000,3.412,284158000000,0,6212000000,0,12.779,127000000

In [8]:
# Between dates
df = quandl.get_table('SHARADAR/SF1', calendardate={'gte': '2015-12-31', 'lte': '2017-12-31'}, ticker='AAPL')
df

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2022-10-28,-150000000,375319000000,3.465412e+11,128645000000,...,20660912000,20868968000,21006768000,10.984,375319000000,0,15738000000,0,17.985,27831000000
1,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2022-10-28,634000000,321686000000,3.064622e+11,106869000000,...,21553772000,21883280000,22001124000,9.854,313066000000,0,15685000000,0,14.306,27863000000
2,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2022-10-28,-345000000,290345000000,2.716460e+11,89378000000,...,22810888000,23013684000,23172276000,10.155,281336000000,0,19121000000,0,12.225,8768000000
3,AAPL,MRT,2017-12-31,2017-12-30,2017-12-30,2022-10-28,-841000000,406794000000,3.654545e+11,143810000000,...,20537248000,20451508000,20631148000,11.695,398756000000,0,16414000000,0,19.498,28022000000
4,AAPL,MRT,2017-09-30,2017-09-30,2017-09-30,2022-10-28,-150000000,375319000000,3.465412e+11,128645000000,...,20660912000,20868968000,21006768000,10.984,375319000000,0,15738000000,0,17.985,27831000000
5,AAPL,MRT,2017-06-30,2017-07-01,2017-07-01,2022-10-28,-545000000,345173000000,3.331330e+11,112875000000,...,20855360000,20780352000,20933996000,10.756,337068000000,0,15709000000,0,16.221,31573000000
6,AAPL,MRT,2017-03-31,2017-04-01,2017-04-01,2022-10-28,-422000000,334532000000,3.232402e+11,101990000000,...,20986160000,20903164000,21046752000,10.547,326442000000,0,15791000000,0,15.617,28648000000
7,AAPL,MRT,2016-12-31,2016-12-31,2016-12-31,2022-10-28,245000000,331141000000,3.159265e+11,103332000000,...,21329252000,21194644000,21311980000,10.291,322870000000,0,15762000000,0,15.234,19202000000
8,AAPL,MRT,2016-09-30,2016-09-24,2016-09-24,2022-10-28,634000000,321686000000,3.064622e+11,106869000000,...,21553772000,21883280000,22001124000,9.854,313066000000,0,15685000000,0,14.306,27863000000
9,AAPL,MRT,2016-06-30,2016-06-25,2016-06-25,2022-10-28,-107000000,305602000000,2.986270e+11,93761000000,...,21909700000,21772232000,21891124000,10.118,296835000000,0,16449000000,0,13.634,22275000000
10,AAPL,MRT,2016-03-31,2016-03-26,2016-03-26,2022-10-28,-1048000000,305277000000,2.905142e+11,87592000000,...,22178332000,22057524000,22163544000,10.316,296185000000,0,17572000000,0,13.428,19327000000
11,AAPL,MRT,2015-12-31,2015-12-26,2015-12-26,2022-10-28,-1480000000,293284000000,2.794935e+11,76219000000,...,22301324000,22235720000,22376508000,10.568,284158000000,0,18941000000,0,12.779,127000000
12,AAPL,MRQ,2017-12-31,2017-12-30,2017-12-30,2022-10-28,-841000000,406794000000,NaN,143810000000,...,20537248000,20451508000,20631148000,4.317,398756000000,0,6965000000,0,19.498,28022000000
13,AAPL,MRQ,2017-09-30,2017-09-30,2017-09-30,2022-10-28,-150000000,375319000000,NaN,128645000000,...,20660912000,20597708000,20734344000,2.553,375319000000,0,3203000000,0,18.221,27831000000
14,AAPL,MRQ,2017-06-30,2017-07-01,2017-07-01,2022-10-28,-545000000,345173000000,NaN,112875000000,...,20855360000,20780352000,20933996000,2.185,337068000000,0,2591000000,0,16.221,31573000000
15,AAPL,MRQ,2017-03-31,2017-04-01,2017-04-01,2022-10-28,-422000000,334532000000,NaN,101990000000,...,20986160000,20903164000,21046752000,2.531,326442000000,0,3655000000,0,15.617,28648000000
16,AAPL,MRQ,2016-12-31,2016-12-31,2016-12-31,2022-10-28,245000000,331141000000,NaN,103332000000,...,21329252000,21194644000,21311980000,3.697,322870000000,0,6289000000,0,15.234,19202000000
17,AAPL,MRQ,2016-09-30,2016-09-24,2016-09-24,2022-10-28,634000000,321686000000,NaN,106869000000,...,21553772000,21467648000,21573324000,2.182,313066000000,0,3174000000,0,14.583,27863000000
18,AAPL,MRQ,2016-06-30,2016-06-25,2016-06-25,2022-10-28,-107000000,305602000000,NaN,93761000000,...,21909700000,21772232000,21891124000,1.946,296835000000,0,2673000000,0,13.634,22275000000
19,AAPL,MRQ,2016-03-31,2016-03-26,2016-03-26,2022-10-28,-1048000000,305277000000,NaN,87592000000,...,22178332000,22057524000,22163544000,2.292,296185000000,0,3626000000,0,13.428,19327000000
20,AAPL,MRQ,2015-12-31,2015-12-26,2015-12-26,2022-10-28,-1480000000,293284000000,NaN,76219000000,...,22301324000,22235720000,22376508000,3.412,284158000000,0,6212000000,0,12.779,127000000
21,AAPL,ARY,2017-12-31,2017-11-03,2017-09-30,2022-10-28,-150000000,375319000000,3.465412e+11,128645000000,...,20537248000,20868968000,21006768000,10.984,367304000000,0,15738000000,0,17.600,27831000000
22,AAPL,ARY,2016-12-31,2016-10-26,2016-09-24,2022-10-28,634000000,321686000000,3.064622e+11,106869000000,...,21329252000,21883280000,22001124000,9.854,313066000000,0,15685000000,0,14.306,27863000000
23,AAPL,ARY,2015-12-31,2015-10-28,2015-09-26,2022-10-28,-345000000,290479000000,2.716795e+11,89378000000,...,22301324000,23013684000,23172276000,10.155,281470000000,5546000000,19121000000,0,12.231,8768000000
24,AAPL,ART,2017-12-31,2018-02-02,2017-12-30,2022-10-28,-841000000,406794000000,3.654545e+11,143810000000,...,20296052000,20451508000,20631148000,11.695,398756000000,0,16414000000,0,19.498,28022000000
25,AAPL,ART,2017-09-30,2017-11-03,2017-09-30,2022-10-28,-150000000,375319000000,3.465412e+11,128645000000,...,20537248000,20868968000,21006768000,10.984,367304000000,0,15738000000,0,17.600,27831000000
26,AAPL,ART,2017-06-30,2017-08-02,2017-07-01,2022-10-28,-545000000,345173000000,3.331330e+11,112875000000,...,20660912000,20780352000,20933996000,10.756,337068000000,0,15709000000,0,16.221,31573000000
27,AAPL,ART,2017-03-31,2017-05-03,2017-04-01,2022-10-28,-422000000,334532000000,3.232402e+11,101990000000,...,20855360000,20903164000,21046752000,10.547,326442000000,0,15791000000,0,15.617,28648000000
28,AAPL,ART,2016-12-31,2017-02-01,2016-12-31,2022-10-28,245000000,331141000000,3.159265e+11,103332000000,...,20986160000,21194644000,21311980000,10.291,322870000000,0,15762000000,0,15.234,19202000000
29,AAPL,ART,2016-09-30,2016-10-26,2016-09-24,2022-10-28,634000000,321686000000,3.064622e+11,106869000000,...,21329252000,21883280000,22001124000,9.854,313066000000,0,15685000000,0,14.306,27863000000
30,AAPL,ART,2016-06-30,2016-07-27,2016-06-25,2022-10-28,-107000000,305602000000,2.986605e+11,93761000000,...,21553772000,21772232000,21891124000,10.118,296835000000,0,16449000000,0,13.634,22275000000
31,AAPL,ART,2016-03-31,2016-04-27,2016-03-26,2022-10-28,-1048000000,305277000000,2.905478e+11,87592000000,...,21909700000,22057524000,22163544000,10.316,296185000000,0,17572000000,0,13.428,19327000000
32,AAPL,ART,2015-12-31,2016-01-27,2015-12-26,2022-10-28,-1480000000,293284000000,2.795270e+11,76219000000,...,22178332000,22235720000,22376508000,10.568,284158000000,0,18941000000,0,12.779,127000000
33,AAPL,ARQ,2017-12-31,2018-02-02,2017-12-30,2022-10-28,-841000000,406794000000,NaN,143810000000,...,20296052000,20451508000,20631148000,4.317,398756000000,0,6965000000,0,19.498,28022000000
34,AAPL,ARQ,2017-09-30,2017-11-03,2017-09-30,2022-10-28,-150000000,375319000000,NaN,128645000000,...,20537248000,20597708000,20734344000,2.553,367304000000,0,3203000000,0,17.832,27831000000
35,AAPL,ARQ,2017-06-30,2017-08-02,2017-07-01,2022-10-28,-545000000,345173000000,NaN,112875000000,...,20660912000,20780352000,20933996000,2.185,337068000000,0,2591000000,0,16.221,31573000000
36,AAPL,ARQ,2017-03-31,2017-05-03,2017-04-01,2022-10-28,-422000000,334532000000,NaN,101990000000,...,20855360000,20903164000,21046752000,2.531,326442000000,0,3655000000,0,15.617,28648000000
37,AAPL,ARQ,2016-12-31,2017-02-01,2016-12-31,2022-10-28,245000000,331141000000,NaN,103332000000,...,20986160000,21194644000,21311980000,3.697,322870000000,0,6289000000,0,15.234,19202000000
38,AAPL,ARQ,2016-09-30,2016-10-26,2016-09-24,2022-10-28,634000000,321686000000,NaN,106869000000,...,21329252000,21467648000,21573324000,2.182,313066000000,0,3174000000,0,14.583,27863000000
39,AAPL,ARQ,2016-06-30,2016-07-27,2016-06-25,2022-10-28,-107000000,305602000000,NaN,93761000000,...,21553772000,21772232000,21891124000,1.946,296835000000,0,2673000000,0,13.634,22275000000
40,AAPL,ARQ,2016-03-31,2016-04-27,2016-03-26,2022-10-28,-1048000000,305277000000,NaN,87592000000,...,21909700000,22057524000,22163544000,2.292,296185000000,0,3626000000,0,13.428,19327000000
41,AAPL,ARQ,2015-12-31,2016-01-27,2015-12-26,2022-10-28,-1480000000,293284000000,NaN,76219000000,...,22178332000,22235720000,22376508000,3.412,284158000000,0,6212000000,0,12.779,127000000

### Subsetting columns

In [9]:
col_list = ['ticker', 'filingdate', 'transactiondate', 'formtype', 'issuername', 'ownername','officertitle', 'securityadcode', 'transactionshares', 'transactionpricepershare']
df = quandl.get_table('SHARADAR/SF2', 
    qopts={'columns':col_list},
    filingdate={'gte': '2015-12-31', 'lte': '2017-12-31'}, ticker='AAPL')
df

,ticker,filingdate,transactiondate,formtype,issuername,ownername,officertitle,securityadcode,transactionshares,transactionpricepershare
None,,,,,,,,,,
0,AAPL,2017-10-17,2017-10-15,4,APPLE INC,WILLIAMS JEFFREY E,COO,DA,63699.0,NaN
1,AAPL,2017-10-17,2017-10-01,4,APPLE INC,WILLIAMS JEFFREY E,COO,DA,64885.0,NaN
2,AAPL,2017-10-03,2017-10-01,4,APPLE INC,WILLIAMS JEFFREY E,COO,DD,-125494.0,NaN
3,AAPL,2017-10-03,2017-10-01,4,APPLE INC,WILLIAMS JEFFREY E,COO,ND,-68686.0,154.12
4,AAPL,2017-10-03,2017-10-01,4,APPLE INC,WILLIAMS JEFFREY E,COO,NA,125494.0,NaN
...,...,...,...,...,...,...,...,...,...,...
522,AAPL,2016-05-03,2016-05-01,4,APPLE INC,AHRENDTS ANGELA J,Senior Vice President,ND,-75306.0,93.74
523,AAPL,2016-05-03,2016-05-01,4,APPLE INC,AHRENDTS ANGELA J,Senior Vice President,NA,153235.0,NaN
524,AAPL,2017-11-15,2017-11-13,4,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,DA,57482.0,NaN
525,AAPL,2017-11-15,2017-11-13,4,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,DA,57482.0,NaN
526,AAPL,2017-11-15,NaT,3,APPLE INC,ADAMS KATHERINE L,SVP General Counsel,N,NaN,NaN

### Subsetting on dimension

AR = As reported (ARY=annual; ARQ=Quarterly, ART=Trailing 12 months)

MR = most-recent-reported (MRY=annual; MRQ=Quarterly, MRT=Trailing 12 months)

In [10]:
df = quandl.get_table('SHARADAR/SF1', dimension='ARY', ticker='AAPL')
df

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,ARY,2022-12-31,2022-10-28,2022-09-24,2022-10-28,-11109000000,352755000000,3.552292e+11,135405000000,...,15908118000,16215963000,16325819000,24.317,352755000000,0,19300000000,0,21.754,-18577000000
1,AAPL,ARY,2021-12-31,2021-10-29,2021-09-25,2022-10-28,163000000,351002000000,3.430135e+11,134836000000,...,16406397000,16701272000,16864919000,21.904,351002000000,0,14527000000,0,21.016,9355000000
2,AAPL,ARY,2020-12-31,2020-10-30,2020-09-26,2022-10-28,-406000000,323888000000,3.255625e+11,143713000000,...,17001802000,17352119000,17528214000,15.820,323888000000,0,9680000000,0,18.666,38321000000
3,AAPL,ARY,2019-12-31,2019-10-31,2019-09-28,2022-10-28,-584000000,338516000000,3.441180e+11,162819000000,...,17773060000,18471336000,18595652000,14.085,338516000000,0,10481000000,0,18.327,57101000000
4,AAPL,ARY,2018-12-31,2018-11-05,2018-09-29,2022-10-28,-3454000000,365725000000,3.723045e+11,131339000000,...,18981592000,19821508000,20000436000,13.399,365725000000,0,13372000000,0,18.451,14473000000
5,AAPL,ARY,2017-12-31,2017-11-03,2017-09-30,2022-10-28,-150000000,375319000000,3.465412e+11,128645000000,...,20537248000,20868968000,21006768000,10.984,367304000000,0,15738000000,0,17.600,27831000000
6,AAPL,ARY,2016-12-31,2016-10-26,2016-09-24,2022-10-28,634000000,321686000000,3.064622e+11,106869000000,...,21329252000,21883280000,22001124000,9.854,313066000000,0,15685000000,0,14.306,27863000000
7,AAPL,ARY,2015-12-31,2015-10-28,2015-09-26,2022-10-28,-345000000,290479000000,2.716795e+11,89378000000,...,22301324000,23013684000,23172276000,10.155,281470000000,5546000000,19121000000,0,12.231,8768000000
8,AAPL,ARY,2014-12-31,2014-10-27,2014-09-27,2022-10-28,1082000000,231839000000,2.213830e+11,68531000000,...,23459360000,24342288000,24490652000,7.509,223081000000,4318000000,13973000000,0,9.164,5083000000
9,AAPL,ARY,2013-12-31,2013-10-30,2013-09-28,2022-10-28,-471000000,207000000000,1.994218e+11,73286000000,...,25192664000,25909268000,26086536000,6.596,201244000000,3453000000,13118000000,0,7.767,29628000000
10,AAPL,ARY,2012-12-31,2012-10-31,2012-09-29,2022-10-28,499000000,176064000000,1.571438e+11,57653000000,...,26339376000,26174904000,26469940000,5.979,170705000000,2583000000,14030000000,0,6.522,19111000000
11,AAPL,ARY,2011-12-31,2011-10-26,2011-09-24,2022-10-28,443000000,116371000000,1.011938e+11,44988000000,...,26023452000,25879224000,26226060000,4.183,111939000000,2014000000,8283000000,0,4.325,17018000000
12,AAPL,ARY,2010-12-31,2010-10-27,2010-09-25,2022-10-28,-46000000,75183000000,6.272275e+10,41678000000,...,25684598772,25464908000,25891936000,2.561,74100000000,1636000000,4527000000,0,2.910,20956000000
13,AAPL,ARY,2009-12-31,2009-10-27,2009-09-26,2022-10-28,84000000,53851000000,4.700375e+10,36265000000,...,25218997244,25004448000,25396140000,1.461,53398000000,2101000000,2280000000,0,2.136,16983000000
14,AAPL,ARY,2008-12-31,2008-11-05,2008-09-27,2022-10-28,8000000,39572000000,3.294775e+10,34690000000,...,24890183444,24684576000,25259892000,1.316,39080000000,1447000000,2061000000,0,1.583,20598000000
15,AAPL,ARY,2007-12-31,2007-11-15,2007-09-29,2022-10-28,63000000,25347000000,2.129150e+10,21956000000,...,24515127672,24208660000,24900176000,0.992,25010000000,782000000,1512000000,0,1.033,12657000000
16,AAPL,ARY,2006-12-31,2006-12-29,2006-09-30,2022-10-28,22000000,17205000000,1.437800e+10,14509000000,...,24059665196,23633624000,24570728000,0.817,17028000000,607000000,829000000,0,0.720,8038000000
17,AAPL,ARY,2005-12-31,2005-12-01,2005-09-24,2022-10-28,0,11551000000,1.037800e+10,10300000000,...,23597502544,22636292000,23989840000,0.615,11455000000,331000000,480000000,0,0.506,6816000000
18,AAPL,ARY,2004-12-31,2004-12-03,2004-09-25,2022-10-28,-15000000,8050000000,7.244750e+09,7055000000,...,22515239936,20809040000,21689416000,0.398,7953000000,231000000,107000000,294000000,0.382,4375000000
19,AAPL,ARY,2003-12-31,2003-12-19,2003-09-27,2022-10-28,-35000000,6815000000,6.471500e+09,5887000000,...,20593157760,20195336000,20354096000,0.307,6706000000,190000000,24000000,235000000,0.332,3530000000
20,AAPL,ARY,2002-12-31,2002-12-19,2002-09-28,2022-10-28,-49000000,6298000000,6.244250e+09,5388000000,...,20111592704,19881232000,20259960000,0.289,6179000000,166000000,22000000,229000000,0.311,3730000000
21,AAPL,ARY,2001-12-31,2001-12-21,2001-09-29,2022-10-28,-22000000,6021000000,6.052000e+09,5143000000,...,19696461792,19354328000,19354328000,0.277,6021000000,169000000,-15000000,266000000,0.311,3625000000
22,AAPL,ARY,2000-12-31,2000-12-14,2000-09-30,2022-10-28,244000000,6803000000,7.082000e+09,5427000000,...,18809390712,18175808000,20178144000,0.439,6803000000,162000000,306000000,463000000,0.374,3494000000
23,AAPL,ARY,1999-12-31,1999-12-22,1999-09-25,2022-10-28,106000000,5161000000,4.926750e+09,4285000000,...,18049806544,16033584000,19506368000,0.383,5161000000,143000000,75000000,208000000,0.322,2736000000
24,AAPL,ARY,1998-12-31,1998-12-23,1998-09-25,2022-10-28,0,4289000000,4.104750e+09,3698000000,...,15155815248,14781088000,18806704000,0.402,4289000000,182000000,20000000,173000000,0.290,2178000000
25,AAPL,ARY,1997-12-31,1997-12-05,1997-09-26,2022-10-28,0,4233000000,NaN,3424000000,...,14335262144,14118944000,14118944000,0.502,4233000000,259000000,0,264000000,0.300,1606000000

### Corporate actions

In [11]:
df = quandl.get_table('SHARADAR/ACTIONS', ticker=['IBM','AAPL','TSLA'])
df.action.value_counts()

dividend           143
acquisitionof       23
split                7
initiated            2
spinoffdividend      1
spinoff              1
listed               1
Name: action, dtype: int64

In [12]:
# List of actions
df=quandl.get_table('SHARADAR/INDICATORS', table='ACTIONTYPES')
df

,table,indicator,isfilter,isprimarykey,title,description,unittype
None,,,,,,,
0,ACTIONTYPES,voluntarydelisting,N,N,Voluntary Delisting,Description of action types in the ACTIONS tab...,USD millions
1,ACTIONTYPES,tickerchangeto,N,N,Ticker Change To,Description of action types in the ACTIONS tab...,N/A
2,ACTIONTYPES,tickerchangefrom,N,N,Ticker Change From,Description of action types in the ACTIONS tab...,N/A
3,ACTIONTYPES,spunofffrom,N,N,Spunoff From,Description of action types in the ACTIONS tab...,ratio
4,ACTIONTYPES,split,N,N,Stock Split or Stock Dividend,Description of action types in the ACTIONS tab...,ratio
5,ACTIONTYPES,spinoffdividend,N,N,Spinoff Dividend,Description of action types in the ACTIONS tab...,USD/share
6,ACTIONTYPES,spinoff,N,N,Spinoff Ratio,Description of action types in the ACTIONS tab...,ratio
7,ACTIONTYPES,relation,N,N,Relation,Description of action types in the ACTIONS tab...,N/A
8,ACTIONTYPES,regulatorydelisting,N,N,Regulatory Delisting,Description of action types in the ACTIONS tab...,USD millions
9,ACTIONTYPES,mergerto,N,N,Merger To,Description of action types in the ACTIONS tab...,USD millions
10,ACTIONTYPES,mergerfrom,N,N,Merger From,Description of action types in the ACTIONS tab...,USD millions
11,ACTIONTYPES,listed,N,N,Newly Listed,Description of action types in the ACTIONS tab...,USD millions
12,ACTIONTYPES,initiated,N,N,Coverage Initiated,Description of action types in the ACTIONS tab...,N/A
13,ACTIONTYPES,dividend,N,N,Cash Dividend,Description of action types in the ACTIONS tab...,USD/share
14,ACTIONTYPES,delisted,N,N,Delisted,Description of action types in the ACTIONS tab...,USD millions
15,ACTIONTYPES,bankruptcyliquidation,N,N,Bankruptcy and/or Liquidation,Description of action types in the ACTIONS tab...,USD millions
16,ACTIONTYPES,acquisitionof,N,N,Acquisition Of,Description of action types in the ACTIONS tab...,USD millions
17,ACTIONTYPES,acquisitionby,N,N,Acquisition By,Description of action types in the ACTIONS tab...,USD millions

### Corporate events

In [13]:
# events by ticker
df = quandl.get_table('SHARADAR/EVENTS', ticker=['IBM','AAPL','TSLA'])
df

     ticker       date eventcodes
None
0      TSLA 2023-01-03   22|81|91
1      TSLA 2022-10-19      22|91
2      TSLA 2022-10-03   22|71|91
3      TSLA 2022-09-28      52|91
4      TSLA 2022-08-05   57|81|91
...     ...        ...        ...
1080   AAPL 1999-02-05         34
1081   AAPL 1999-01-07         34
1082   AAPL 1998-12-23         51
1083   AAPL 1998-08-10         34
1084   AAPL 1998-01-08         21

[1085 rows x 3 columns]

In [14]:
# events by date
df = quandl.get_table('SHARADAR/EVENTS', date={'gte':'2022-01-01'}, ticker=['IBM','AAPL','TSLA'])
df

     ticker       date eventcodes
None
0      TSLA 2023-01-03   22|81|91
1      TSLA 2022-10-19      22|91
2      TSLA 2022-10-03   22|71|91
3      TSLA 2022-09-28      52|91
4      TSLA 2022-08-05   57|81|91
5      TSLA 2022-07-20      22|91
6      TSLA 2022-07-05   22|71|91
7      TSLA 2022-05-03         81
8      TSLA 2022-04-20      22|91
9      TSLA 2022-04-04   22|71|91
10     TSLA 2022-03-28         81
11     TSLA 2022-03-11         34
12     TSLA 2022-02-14         34
13     TSLA 2022-02-10         34
14     TSLA 2022-02-08         34
15     TSLA 2022-01-26      22|91
16     TSLA 2022-01-03   22|71|91
17      IBM 2023-01-05         52
18      IBM 2022-10-20      71|91
19      IBM 2022-10-19      22|91
20      IBM 2022-09-28         81
21      IBM 2022-09-13      81|91
22      IBM 2022-07-26         91
23      IBM 2022-07-19      71|91
24      IBM 2022-07-18   22|71|91
25      IBM 2022-07-01   11|23|91
26      IBM 2022-04-29         57
27      IBM 2022-04-20      71|91
28      IBM 2022-04-19   22|71|91
29      IBM 2022-03-31      71|91
30      IBM 2022-02-14         34
31      IBM 2022-02-11         34
32      IBM 2022-02-10         34
33      IBM 2022-02-08         91
34      IBM 2022-02-04         52
35      IBM 2022-01-31         34
36      IBM 2022-01-25      71|91
37      IBM 2022-01-24   22|71|91
38     AAPL 2022-11-07      71|91
39     AAPL 2022-10-27      22|91
40     AAPL 2022-08-19   52|53|91
41     AAPL 2022-08-08      81|91
42     AAPL 2022-07-28      22|91
43     AAPL 2022-04-28      22|91
44     AAPL 2022-03-04   52|57|91
45     AAPL 2022-02-09         34
46     AAPL 2022-01-31         34
47     AAPL 2022-01-27      22|91

In [15]:
# List of events
df=quandl.get_table('SHARADAR/INDICATORS', table='EVENTCODES')
df

,table,indicator,isfilter,isprimarykey,title,description,unittype
None,,,,,,,
0,EVENTCODES,91,N,N,Financial Statements and Exhibits,EventCode to Title mapping for EVENTS table.,text
1,EVENTCODES,81,N,N,Other Events,EventCode to Title mapping for EVENTS table.,text
2,EVENTCODES,71,N,N,Regulation FD Disclosure,EventCode to Title mapping for EVENTS table.,text
3,EVENTCODES,65,N,N,Securities Act Updating Disclosure,EventCode to Title mapping for EVENTS table.,text
4,EVENTCODES,64,N,N,Failure to Make a Required Distribution,EventCode to Title mapping for EVENTS table.,text
5,EVENTCODES,63,N,N,Change in Credit Enhancement or Other External...,EventCode to Title mapping for EVENTS table.,text
6,EVENTCODES,62,N,N,Change of Servicer or Trustee,EventCode to Title mapping for EVENTS table.,text
7,EVENTCODES,61,N,N,ABS Informational and Computational Material,EventCode to Title mapping for EVENTS table.,text
8,EVENTCODES,58,N,N,Shareholder Nominations Pursuant to Exchange A...,EventCode to Title mapping for EVENTS table.,text
9,EVENTCODES,57,N,N,Submission of Matters to a Vote of Security Ho...,EventCode to Title mapping for EVENTS table.,text
10,EVENTCODES,56,N,N,Change in Shell Company Status,EventCode to Title mapping for EVENTS table.,text
11,EVENTCODES,55,N,N,Amendments to the Registrant's Code of Ethics;...,EventCode to Title mapping for EVENTS table.,text
12,EVENTCODES,54,N,N,Temporary Suspension of Trading Under Registra...,EventCode to Title mapping for EVENTS table.,text
13,EVENTCODES,53,N,N,Amendments to Articles of Incorporation or Byl...,EventCode to Title mapping for EVENTS table.,text
14,EVENTCODES,52,N,N,Departure of Directors or Certain Officers; El...,EventCode to Title mapping for EVENTS table.,text
15,EVENTCODES,51,N,N,Changes in Control of Registrant,EventCode to Title mapping for EVENTS table.,text
16,EVENTCODES,42,N,N,Non-Reliance on Previously Issued Financial St...,EventCode to Title mapping for EVENTS table.,text
17,EVENTCODES,41,N,N,Changes in Registrant's Certifying Accountant,EventCode to Title mapping for EVENTS table.,text
18,EVENTCODES,40,N,N,Changes in Registrant's Certifying Accountant,EventCode to Title mapping for EVENTS table.,text
19,EVENTCODES,37,N,N,Tender Offer Statement under Section 14(d)(1) ...,EventCode to Title mapping for EVENTS table.,text
20,EVENTCODES,36,N,N,Notice under Rule 12b25 of inability to timely...,EventCode to Title mapping for EVENTS table.,text
21,EVENTCODES,35,N,N,Schedule 13D Filing,EventCode to Title mapping for EVENTS table.,text
22,EVENTCODES,34,N,N,Schedule 13G Filing,EventCode to Title mapping for EVENTS table.,text
23,EVENTCODES,33,N,N,Material Modifications to Rights of Security H...,EventCode to Title mapping for EVENTS table.,text
24,EVENTCODES,32,N,N,Unregistered Sales of Equity Securities,EventCode to Title mapping for EVENTS table.,text
25,EVENTCODES,31,N,N,Notice of Delisting or Failure to Satisfy a Co...,EventCode to Title mapping for EVENTS table.,text
26,EVENTCODES,26,N,N,Material Impairments,EventCode to Title mapping for EVENTS table.,text
27,EVENTCODES,25,N,N,Cost Associated with Exit or Disposal Activities,EventCode to Title mapping for EVENTS table.,text
28,EVENTCODES,24,N,N,Triggering Events That Accelerate or Increase ...,EventCode to Title mapping for EVENTS table.,text
29,EVENTCODES,23,N,N,Creation of a Direct Financial Obligation or a...,EventCode to Title mapping for EVENTS table.,text
30,EVENTCODES,22,N,N,Results of Operations and Financial Condition,EventCode to Title mapping for EVENTS table.,text
31,EVENTCODES,21,N,N,Completion of Acquisition or Disposition of As...,EventCode to Title mapping for EVENTS table.,text
32,EVENTCODES,15,N,N,Receipt of an Attorney's Written Notice Pursua...,EventCode to Title mapping for EVENTS table.,text
33,EVENTCODES,14,N,N,Mine Safety - Reporting of Shutdowns and Patte...,EventCode to Title mapping for EVENTS table.,text
34,EVENTCODES,13,N,N,Bankruptcy or Receivership,EventCode to Title mapping for EVENTS table.,text
35,EVENTCODES,12,N,N,Termination of a Material Definitive Agreement,EventCode to Title mapping for EVENTS table.,text
36,EVENTCODES,11,N,N,Entry into a Material Definitive Agreement,EventCode to Title mapping for EVENTS table.,text

In [16]:
# 13D events
df = quandl.get_table('SHARADAR/EVENTS', ticker=['IBM','GME','TSLA','BBBY'])
df['activist']=(df.eventcodes.str.find('35')>=0)
df[df.activist==True]

     ticker       date                  eventcodes  activist
None
541     IBM 2010-08-23                          35      True
569     IBM 2008-12-18                       35|37      True
764     IBM 2001-11-08                          35      True
767     IBM 2001-08-31                          35      True
769     IBM 2001-05-01                          35      True
776     IBM 2000-09-12                          35      True
804     IBM 1997-12-10                          35      True
806     IBM 1997-10-21                          35      True
807     IBM 1997-10-07                          35      True
808     IBM 1997-09-22                          35      True
811     IBM 1997-07-03                          35      True
818     IBM 1996-12-19                          35      True
821     IBM 1996-12-02                          35      True
823     IBM 1996-07-31                          35      True
831     IBM 1994-05-25                          35      True
840     GME 2022-03-22                          35      True
870     GME 2021-01-11              11|35|52|71|91      True
871     GME 2020-12-21                          35      True
873     GME 2020-11-16                          35      True
876     GME 2020-09-21                          35      True
878     GME 2020-09-08                          35      True
880     GME 2020-08-31                          35      True
881     GME 2020-08-28                          35      True
886     GME 2020-06-12                          35      True
891     GME 2020-05-06                          35      True
892     GME 2020-04-27                          35      True
894     GME 2020-04-10                          35      True
896     GME 2020-03-23                          35      True
898     GME 2020-03-12                          35      True
906     GME 2019-12-13                          35      True
909     GME 2019-10-15                          35      True
997     GME 2015-06-09                          35      True
1076    GME 2010-10-18                          35      True
1092    GME 2009-10-09                          35      True
1118    GME 2007-10-31                          35      True
1122    GME 2007-05-09                          35      True
1123    GME 2007-05-07                          35      True
1141    GME 2006-04-19                          35      True
1142    GME 2006-04-17                          35      True
1157    GME 2005-10-17                          35      True
1158    GME 2005-10-12  11|12|21|23|35|52|53|71|91      True
1171    GME 2005-04-27                          35      True
1172    GME 2005-04-26                          35      True
1173    GME 2005-04-18                 11|33|35|91      True
1181    GME 2004-11-22                       34|35      True
1207    GME 2002-03-08                       34|35      True
1226   BBBY 2022-08-18                       35|71      True
1227   BBBY 2022-08-16                       34|35      True
1235   BBBY 2022-03-25              11|35|52|71|91      True
1236   BBBY 2022-03-07                          35      True
1264   BBBY 2020-10-30                          35      True
1288   BBBY 2020-04-02                 35|52|71|91      True
1316   BBBY 2019-05-29                    35|81|91      True
1318   BBBY 2019-05-13                          35      True
1321   BBBY 2019-04-30                          35      True
1324   BBBY 2019-03-29                          35      True
1422   BBBY 2012-05-18                          35      True
1538   BBBY 1998-06-09                          35      True
1539   BBBY 1998-02-24                          35      True

# Pulling entire dataset

In [17]:
df = quandl.get_table('SHARADAR/SP500',paginate=True)
df

,date,action,ticker,name,contraticker,contraname,note
None,,,,,,,
0,2023-01-17,current,ZTS,ZOETIS INC,N/A,N/A,None
1,2023-01-17,current,ZION,ZIONS BANCORPORATION NATIONAL ASSOCIATION,N/A,N/A,None
2,2023-01-17,current,ZBRA,ZEBRA TECHNOLOGIES CORP,N/A,N/A,None
3,2023-01-17,current,ZBH,ZIMMER BIOMET HOLDINGS INC,N/A,N/A,None
4,2023-01-17,current,YUM,YUM BRANDS INC,N/A,N/A,None
...,...,...,...,...,...,...,...
52485,1957-03-04,added,AN1,AMOCO CORP,N/A,N/A,None
52486,1957-03-04,added,AD1,AMSTED INDUSTRIES INC,N/A,N/A,None
52487,1957-03-04,added,ACKHQ,ARMSTRONG HOLDINGS INC,N/A,N/A,None
52488,1957-03-04,added,ABT,ABBOTT LABORATORIES,N/A,N/A,None
52489,1957-03-04,added,AAMRQ,AMR CORP,N/A,N/A,None

In [ ]:
# Downloading zipped tables
for table in ['INDICATORS','TICKERS','SF1','DAILY','SEP','SF2','SF3','SFP'] :
    quandl.export_table('SHARADAR/'+table)
    print("finished", table)

In [ ]:
# Unzipping and loading full dataset
from zipfile import ZipFile
table = "SF2"
with ZipFile('./SHARADAR_'+table+'.zip', 'r') as zipObj:
    name = zipObj.namelist()[0]
    zipObj.extractall()
df = pd.read_csv(name, low_memory=False)
df = df.rename(columns={"table": "table_"})